$color-lime-green: hsl(163, 72%, 41%);
$color-bright-red: hsl(356, 69%, 56%);

//social meida
// $color-social-tw: hsl(203, 89%, 53%);
// $color-social-ig: linear-gradient(
//   to right,
//   hsl(37, 97%, 70%),
//   hsl(329, 70%, 58%)
// );

$color-background-light: #fff;
$color-background-dark: #f8f9fa;
$color-white:#fff;
$color-header-primary: #21252a;
$color-header-secondary: #adb5bd;
$color-font: #343a40;
$color-dark-grey: #707070;

$color-shadow: rgba(0,0,0, 0.09);

$font-size-large: 2rem;
$font-size-norms: 1.6rem;

$header-font-size: 7.2rem;   
