.header {
  background-color: $color-background-black;
  width: 100%;
  padding: 5rem 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 10rem;
  color: $color-white;


  // position: sticky;
  // top: 0;

  // transition-timing-function: ease-in;
  // transition: all 0.2s;
  // z-index: 1000;

  // &__dark {
  //   background-color: $color-orange;
  //   color: black;
  //   // background-color: black;
  // }
  // &__light {
  //   background-color: $color-background-black;
  // }

  &__padfix{
    padding:0;
    color: $color-header-secondary;
  }
  
  &__container {
    width: 40%;
    display: flex;
    justify-content: space-between;
    font-size: $font-size-small;
    font-weight: 400;
    line-height: 2.1rem;
    letter-spacing: 0.8px;
    
    &--link {
      text-decoration: none;
      color: $color-white;
    }
  }
  
    &__widthfix{
      width: 70%;
    }
}
