.main {
  height: 88vh;
  width: 100%;
  background-color: $color-background-black;

  &__contents {
    width: 54.5%;
    margin: auto auto;
    padding-top: 20.1rem;

    @include respond(tab-land){
      width: 80%;
      padding-top: 13.1rem;
    }
    @include respond(tab-port){
      width: 85%;
      padding-top: 23.1rem;
    }
    @include respond(phone){
      width: 95%;
    }
  }

  &__first,
  &__paragraph {
    font-size: $font-size-large;
    font-weight: 500;
    color: $color-white;
  }

  &__name {
    font-size: $header-font-size;
    color: $color-white;
    font-weight: 700;
    font-family: "Montserrat", sans-serif;
    line-height: 8rem;

    &--work {
      color: rgba($color-white, 0.5);
    }
  }

  &__paragraph {
    font-weight: 300;
    line-height: 3rem;
    margin-bottom: 2.3rem;
  }
}
