.others {
  background-color: $color-orange;
  color: $color-white;
//   height: 80rem;

&__content {
    width: 54.5%;
    margin: auto auto;
    padding-top: 14rem;
    //  background-color: blue;    
    padding-bottom: 7rem;

    @include respond(tab-land){
      width: 80%;
    
    }
    @include respond(tab-port){
      width: 85%;
    
    }
    @include respond(phone){
      width: 95%;
    }

  }

  &__heading {
    font-size: 5.6rem;
    line-height: 1;
  }

  &__container {
    padding-top: 7rem;
  }
}
